<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsersSoap" />
                <binding name="SendReceiveSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://n.sms.ir/ws/Users.asmx" binding="basicHttpBinding"
                bindingConfiguration="UsersSoap" contract="YasnaService.UsersSoap"
                name="UsersSoap" />
            <endpoint address="http://n.sms.ir/ws/SendReceive.asmx" binding="basicHttpBinding"
                bindingConfiguration="SendReceiveSoap" contract="YasnaServiceSendReceive.SendReceiveSoap"
                name="SendReceiveSoap" />
        </client>
    </system.serviceModel>
</configuration>