<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="smsserverBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://37.130.202.188/public/class/sms/webservice3/server.php"
                binding="basicHttpBinding" bindingConfiguration="smsserverBinding"
                contract="AlmaSms.smsserverPortType" name="smsserverPort" />
        </client>
    </system.serviceModel>
</configuration>